<div style="padding-left: 10%;">
  <mat-card class="example-card" (click)="openDialog()">
    <mat-card-header>
        <mat-card-title>Project 1</mat-card-title>
        <mat-card-subtitle>
            brief description of project
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s">
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Project 2</mat-card-title>
        <mat-card-subtitle>
            brief description of project
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s">
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Project 3</mat-card-title>
        <mat-card-subtitle>
            brief description of project
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s">
    </mat-card-content>
  </mat-card>
</div>

<div style="padding-left: 10%;">
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Project 4</mat-card-title>
        <mat-card-subtitle>
            brief description of project
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s">
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Project 5</mat-card-title>
        <mat-card-subtitle>
            brief description of project
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s">
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Project 6</mat-card-title>
        <mat-card-subtitle>
            brief description of project
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReiKeTsm26jLOx1RQhXGkRSPWNj2tCeMKdUA&s">
    </mat-card-content>
  </mat-card>
</div>
